{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "extends": [
    "canonical",
    "canonical/typescript"
  ],
  "rules": {
    "max-len": 0,
    "jsdoc/check-tag-names": [
      "error", {"definedTags": ["internal"]}
    ],
    "filenames/match-exported": 0
  }
}
