{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "extends": [
    "canonical",
    "canonical/typescript"
  ],
  "rules": {
    "max-len": "off",
    "jsdoc/check-tag-names": ["error", {"definedTags": ["internal"]}],
    "require-unicode-regexp": "off"
  }
}
